@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h2>Welcome to the Game Review Website!</h2>

        <p class="lead">
            Explore and discover new games through reviews contributed by our community.
            Whether you're a passionate gamer or just getting started, you're welcome to
            share your thoughts and read what others have to say.
        </p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3 class="mb-4">Key Features:</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Anonymous Reviews:</strong> Contribute your reviews without the need to create an account.</li>
                <li class="list-group-item"><strong>Rate Reviews:</strong> Readers can rate the helpfulness and quality of reviews.</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3 class="mb-4">How It Works:</h3>
            <ol class="list-group">
                <li class="list-group-item"><strong>Add Games:</strong> You can add new games to be reviewed by the community anonymously.</li>
                <li class="list-group-item"><strong>Read Reviews:</strong> Explore reviews from other gamers to make informed decisions.</li>
                <li class="list-group-item"><strong>Rate Reviews:</strong> Give 1-10 for reviews based on their usefulness.</li>
            </ol>
        </div>
    </div>

    <div class="text-center mt-5">
        <h3>Start Exploring Now!</h3>
        <p>
            Ready to dive in? Check out our featured games and start exploring the world of gaming through
            the eyes of our community. Remember, your contributions make this platform thrive!
        </p>
        <div class="text-center mt-4">
            <a href="Home/Review" class="btn btn-primary">Explore Reviews</a>
            <a href="Home/AddPost" class="btn btn-success">Add Your Review</a>
            <a href="Home/GameRatings" class="btn btn-primary">Game Ratings</a>
        </div>
    </div>
</div>
